In [1]:
print('Hello, Python!')

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [3]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

Exercise: Your First Program

Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.

In the code cell below, use the print() function to print out the phrase: Hello, world!

In [4]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print("Hello World!")

Hello World!

Types of objects in Python

Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).
word = strings
number = integers or floats .Integers can be negative or positive numbers:

# Integer 
11
# Float
2.14
# Stirng
"Hello, Python 101!"

You can get Python to tell you the type of an expression by using the built-in type() function. You'll notice that Python refers to integers as int, floats as float, and character strings as str.
Floats

Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of sys.float_info. This will also tell you what's the largest and smallest number that can be represented with them.

Converting from one object type to a different object type

You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float (e.g. 2 to 2.0).
When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):

In [5]:
float(2)

2.0

In [6]:
type(float(2))

float

In [9]:
# Casting 1.1 to integer will result in loss of information

print(int(1.1))
# Convert a string into an integer

print(int('1'))

# Convert the string "1.2" into a float

print(float('1.2'))
#  Note that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both (e.g., "1.2'). 

# Convert an integer to a string

print(str(1))

1
1
1.2
1

In [10]:
True

True

In [13]:
type(True)

bool

We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a one. If we cast a boolean with a value of False to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False. Let's give it a try

In [14]:
int(True)

1

In [15]:
bool(1)

True

In [16]:
bool(0)

False

In [17]:
int(False)

0

In [18]:
float(True)

1.0

In [19]:
x = 6/2
type(x)

float

In [20]:
# What is the type of the result of: 6 // 2? (Note the double slash //.)
x = 6//2
type(x)

int

Expression and Variables

Expressions

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [21]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [22]:
# Subtraction operation expression

50 - 60

-10

In [23]:
# Multiplication operation expression

5 * 5

25

In [24]:
# Division operation expression

25 / 5

5.0

In [25]:
# Division operation expression

25 / 6

4.166666666666667

In [26]:
# Integer division operation expression

25 // 5

5

In [27]:
# Integer division operation expression

25 // 6

4

In [31]:
# Let's write an expression that calculates how many hours there are in 160 minutes: 
total_minutes = 160
total_hours = total_minutes/60
print(total_hours)

2.6666666666666665

In [33]:
x = 43 + 60 + 16 + 41
x
y = x / 60
y

2.6666666666666665

In [34]:
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min
total_hours = total_min / 60 # Total length of albums in hours 
total_hours
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

Exercise: Expression and Variables in Python

What is the value of x where x = 3 + 2 * 2

In [35]:
x = 3 + 2 * 2
x

7

In [36]:
# What is the value of y where y = (3 + 2) * 2?

y = (3 + 2) * 2
y

10

In [37]:
# What is the value of z where z = x + y?

z = x + y
z

17

In [38]:
# How would you obtain the even elements?
Numbers = "0123456"
Numbers[::2]

'0246'

In [39]:
"0123456".find('1')

1

In [40]:
# Use slicing to find the first four elements of the following string:
Letters="ABCDEFGHIJK"
Letters[:4]

'ABCD'

In [41]:
# Use a stride value of 2 on the following string :
Good="GsoAo+d"
Good[::2]

'Good'

In [55]:
# Convert the following string to uppercase using the method upper()

"uppercase".upper()
myvar = 'hello'
myvar.upper()

'HELLO'

In [47]:
name = 'Lizz'
print(name[0:2])

Li

In [48]:
var = '01234567'
print(var[::2])

0246

In [49]:
'1'+'2'

'12'

Create a Tuple

Create a tuple  (0,1,2,3) and assign it to variable A:

In [51]:
A = (0,1,2,3)
print(A)

(0, 1, 2, 3)

Find the Elements of a Tuple

Find the first two elements of tuple  A :

In [52]:
A[0:2]

(0, 1)

In [53]:
# Find the first two elements of the list  B:

B=["a","b","c"]
B[0:2]

['a', 'b']

Change the first element of the list to an uppercase "A".

In [56]:
B[0].upper()

'A'

In [57]:
B[0] = 'A'
print(B)

['A', 'b', 'c']